* {
	margin: 0px;
	padding: 0px;
}


/*全局*/
/*背景*/
#OverAll {
	width:100%
	height: 100%;
	margin: auto;
	background:url(../../img/haiwaiAndsex/bj.png)
	
}
/*第一排商品文字*/
#OverAll .hot{
	color: white;
	font-size: 16px;
	text-align: center;
}
#OverAll .hot .bj01{
	background:url(../../img/haiwaiAndsex/bj01.png);
}
#sp{
	width: 990px;
	background: url(../../img/haiwaiAndsex/bj02.png);
	
	margin: auto;

}
#sp .hot img{
	margin-left: 37px;
	
}
#sp .hots img{
	margin-left: 9px;
}

#bg table{
	margin: auto;
}
#TT{
	
	text-align: center;
}
